.box1 {
    background-color: #fff7f7;
    width: 100%;
}

h1 {
    color: #375e97;
    font-size: 4em;
    font-family: monospace;
    margin-bottom: 0px;
}

.box2 {
    background-color: #e8f6fc;
    width: 100%;
}

.box3 {
    background-color: #f9fcfb width: 100%;
}

p {
    color: rgb(21, 73, 88);
    font-family: serif;
}

a:link {
    color: rgba(0, 69, 160, 0.712);
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.card {
    width: 189px;
    height: 252px;
}